<div class="links scroll" style="font-size: 17px; font-family: 'Work Sans'; margin-right: 1em; overflow: hidden">
        <hr>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <a href="{{site.baseurl}}/"> about</a>
        <a href="{{site.baseurl}}/activities"><i class="fa-solid fa-heart-pulse"></i> activities</a>
        <a href="{{site.baseurl}}/projects/"> projects</a>
        <a href="{{site.baseurl}}/publications/"> research & pubs.</a>
        <a href="https://hillsonghimire.github.io/blog" target="_blank"><i class="fa-solid fa-blog"></i> blog <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <!-- <a href="https://hillsonghimire.github.io/blog" target="_blank"><i class="fa-solid fa-list"></i> Resume <i class="fa-solid fa-arrow-up-right-from-square"></i></a> -->

        <!-- <a href="{{site.baseurl}}/archive/">Archive</a> -->
        <hr>
</div>

<!-- WITH ICONS -->
<!-- 

<div class="links scroll" style="font-size: 17px; font-family: 'Work Sans'; margin-right: 1em; overflow: hidden">
        <hr>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <a href="{{site.baseurl}}/"><i class="fa-regular fa-user"></i> About</a>
        <a href="{{site.baseurl}}/projects/"><i class="fa-solid fa-briefcase"></i> Projects</a>
        <a href="https://hillsonghimire.github.io/blog" target="_blank"><i class="fa-solid fa-blog"></i> Blog <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
        <a href="{{site.baseurl}}/activities"><i class="fa-solid fa-heart-pulse"></i> Activities</a>
        <a href="{{site.baseurl}}/projects/"><i class="fa-solid fa-brain"></i> Research & Pubs.</a>
         <a href="https://hillsonghimire.github.io/blog" target="_blank"><i class="fa-solid fa-list"></i> Resume <i class="fa-solid fa-arrow-up-right-from-square"></i></a> -->

        <!-- <a href="{{site.baseurl}}/archive/">Archive</a> -->
        <!-- <hr>
</div> --> 
